!!! 5
html(lang="es")
  head
    meta( charset="utf-8" )
    title 
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alfa+Slab+One')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Duru+Sans')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/raphael.js')
    script(src='/javascripts/paths.js')
    script(src='/javascripts/init.js')
    script(src='/javascripts/functions.js')
  body
    div.wrapper
      div#map.slides
      div#protector_map.slides
      div#title_bar
        label#name_estado 
          small Gastos de Publicidad Oficial...
      div#status.slides
      div#load.slides