body {
  padding: 50px;
  font-family: 'Duru Sans';
  font-size: 11px;
}
a {
  color: #fff;
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
  width: 900px;
  position: relative;
}
.slides {
  width: 850px;
  height: 550px;
  float: left;
  clear: both;
  z-index: -1;
  margin-bottom: 10px;
}
#protector_map {
  z-index: 3;
  position: absolute;
  background: transparent;
  top: 0px;
  left: 0px;
  display: none;
}
#title_bar {
  min-width: 612px;
  min-height: 60px;
  padding: 10px;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 5;
  font-family: 'Alfa Slab One', cursive;
  font-size: 4em;
  color: #def;
  text-shadow: #000 2px 2px;
  text-align: left;
  margin-top: 5px;
}
#title_bar img#img_estado {
  margin-top: -30px;
  position: absolute;
  z-index: 10;
}
#title_bar small {
  font-size: 0.75em;
}
#map {
  background: url("../images/grid.jpg") repeat;
}
#status {
  background: #3cc;
  padding: 50px 20px 20px 40px;
  width: 790px;
  display: none;
}
#status div#balance {
  display: block;
  width: 800px;
  height: 260px;
}
#status img#calificacion,
#status div#resumen {
  width: 380px;
  float: left;
  margin-right: 20px;
  text-align: center;
}
#status div#resumen div {
  width: 380px;
  float: left;
  text-align: center;
}
#status h2 {
  font-family: 'Duru Sans';
  font-size: 1.5em;
  color: #fff;
}
#status div#fondo_gasto {
  width: 380px;
}
#status label#gasto {
  color: #fff;
  font-size: 4.5em;
  text-shadow: #ffca00 2px 2px;
  font-family: 'Alfa Slab One', cursive;
}
#status div#reporte_datos {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  padding-top: 1px;
}
#status div#reporte_datos table#tabla_gastos {
  text-align: left;
  font-family: 'Duru Sans';
}
table#tabla_gastos td {
  margin: 0px 10px 0px 0px;
  font-size: 1.3em;
}
#status div#cronologia {
  display: block;
}
#cronologia ul li,
#cronologia ul em {
  margin-bottom: 5px;
  font-size: 1.2em;
}
